<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Netball database</h1>
    <p class="lead">Check all the stats for netball players and teams!</p>
    <hr class="my-4">
    <p>It uses a MariaDB database with 5 tables.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
